header {
    background-color: hwb(215 73% 1%);
    border-radius: 10px;
    text-align: center;
    justify-content: center;
        p {
            padding: 20px 20px 20px 20px;   
            font-size: larger;
            }
}

.contenedor{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: black;
    
    display: flex;
    flex-direction:column;
    justify-content: center;  
    }

    .item-01 {
        @extend.contenedor;
    }
    .item-02 {
        @extend.contenedor;
    }
    .item-03 {
        @extend.contenedor;
    }
    .item-04 {
        @extend.contenedor;
    }

.item-01:hover{
    transform: scale(1.08);
}
.item-02:hover{
    transform: scale(1.08);
}
.item-03:hover{
    transform: scale(1.08);
}
.item-04:hover{
    transform: scale(1.08);
}
.item-05:hover{
    transform: scale(1.05);
}
.item-06:hover{
    transform: scale(1.05);
}
.item-07:hover{
    transform: scale(1.05);
}
.item-08:hover{
    transform: scale(1.05);
}
.item-09:hover{
    transform: scale(1.05);
}