header {
    background-color: #a2bfec;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
        p {
            padding: 20px 20px 20px 20px;   
            font-size: larger;
            }
}

.contenedor{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 200px;
    text-align: center;

    display: flex;
    flex-direction:column;
    justify-content: center;  
    
    }

.item-01:hover{
    transform: scale(1.2);
}

.item-02:hover{
    transform: scale(1.2);
}

.item-03:hover{
    transform: scale(1.2);
}

.corousel {
    justify-content: center;
}