/*Estilo main*/
main {
    text-align:center;
    padding: 25px 25px 25px 15px;
     
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;

    display: flex;
    flex-direction: column;
    
    p {
      font-size: large;
    }

    ul {
      text-align:justify;
      margin-left: 300px;
    }
}

    @media screen and (max-width: 992px) {
        .section .galeria {
          width: 50%;
        }
      }