//Import de css de bootstrap
@import "bootstrap/bootstrap.scss";
//Import de styles
@import "header";
@import "main";
@import "footer";

/*Estilos principales CSS*/
.navbar .collapse {
    justify-content:center;
    align-content:space-between;
    background-color:#192a54eb;
    font-style: color white;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 25px 25px 25px 15px;
}

@media screen and (min-width: 768px) {
    .navbar .collapse {
        justify-content: flex-end;
    }
}

.nav-logo {
    weight: 90px;
    height: 90px;
}