//Import de css de bootstrap
@import "bootstrap/bootstrap.scss";
//Import de styles
@import "header";
@import "main";
@import "footer";
@import "galeria";
@import "contacto";

//Variables
$tipografia-general: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$color-primario: #a2bfec;
$padding-1: 16px 24px;
$margin-l: 20px;

h1 {
    font-family: $tipografia-general;
    font-weight: bold;
}

h4 {
    margin-left: $margin-l;
}

p {
    margin-left: $margin-l;
}

a {
    text-decoration: none;
}

/*Estilos principales CSS*/
.navbar .collapse {
    background-color:#192a54eb;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 25px 25px 25px 25px;
    border-radius: 10px;

    .nav-link {  
        color: white;
        &:active {color: black};
        }

    .nav-item:hover{
        transform: scale(1.03); 
    
        cursor: pointer;
                    }
}

.navbar-nav{
    display: flex;
    justify-content: space-around;
}

@media screen and (min-width: 768px) {
    .navbar .collapse {
        justify-content:flex-start;
    }
}

.nav-logo {
    width: 270px;
    height: 100px;
    border-radius: 10px;
}

.carousel-inner img {
    margin: auto;
    border: solid 2px; 
    border-color: white;
}

.card-img-top {
    clip-path: circle(40%)
}
