//Import de css de bootstrap
@import "bootstrap/bootstrap.scss";
@import "header";
@import "main";
@import "footer";

/*Estilos principales CSS*/
.navbar .collapse {
    justify-content:center;
    align-content:flex-start;
    background-color:rgb(133, 152, 201);
    padding: 25px 25px 25px 15px;
     
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;

}

@media screen and (min-width: 768px) {
    .navbar .collapse {
        justify-content: flex-end;
    }
}